<div class = "lostfound-Container">

	<!-- Header -->
	<div class="nav-header lostfound-Header navbar-fixed-top">

		<table width = "100%" height = "100%">
		    <tr width = "100%" height = "100%">
		        <td width = "10%" align = "left">
		        	<a href = "#/main" class = "lostfound-BackBtn">
				    	<img src="images/arrow-left.png">
				    </a>
		        </td>
		        <td width = "75%" align = "center">
		        	Lost &amp; Found
		        </td>
		        <td width = "15%">
		        	<a href = "#/main" class = "lostfound-SaveBtn">
						<img src="images/save.png">
					</a>
		        </td>
		    </tr>
		</table>

	</div>

	<!-- Content -->
	<div class = "lostfound-Content">
		
		<div class="btn-group lostfound-Switch">
		  <button type="button" class="btn btn-default active">Lost</button>
		  <button type="button" class="btn btn-default">Found</button>
		</div>

		<div class = "lostfound-Inputs">
			<p>
				Subject
				<input class = "form-control" type = "text" placeholder = "Tap to enter Subject"/>
			</p>
			<p>
				Message
				<textarea class = "form-control" placeholder = "Tap to enter Message"></textarea>
			</p>
		</div>

		<div class = "lostfound-PhotoImgs">
			<div class = "lostfound-PhotoImgsHeader">
				<img src="images/import.png">
				<img src="images/camera.png">
			</div>
			<div class = "lostfound-PhotoImgsContent">
				
			</div>
		</div>

	</div>

</div>
