<div class = "main-Container">

	<!-- Content -->
	<div class = "main-Content">

		<table width = "100%" height = "100%">
			<tr align = "center" width = "100%" height = "33%">
				<td width = "50%">
					<div class = "main-TableCell" style = "background-color : #444444;">
						<a href="#/facility" >
							<div class = "main-TileImg"><img class = "main-LargeIcon" src="images/icon-facility.png"></div>
							<div class = "main-TileLabel">Facility Booking</div>
						</a>
					</div>
				</td>
				<td width = "50%">
					<div class = "main-TableCell" style = "background-color : #6F8EA3;">
						<a href="#/request" >
							<div class = "main-TileImg"><img class = "main-LargeIcon" src="images/icon-request.png"></div>
							<div class = "main-TileLabel">Service Request</div>
						</a>
					</div>
				</td>
			</tr>
			<tr align = "center" width = "100%" height = "33%">
				<td width = "50%">
					<div class = "main-TableCell" style = "background-color : #C63A3A;">
						<a href="#/lostfound" >
							<div class = "main-TileImg"><img class = "main-LargeIcon" src="images/icon-lostfound.png"></div>
							<div class = "main-TileLabel">Lost &amp; Found</div>
						</a>
					</div>
				</td>
				<td width = "50%">
					<table width = "100%" height = "100%">
						<tr align = "center" width = "100%" height = "100%">
							<td width = "50%">
								<div class = "main-TableCell" style = "background-color : #DE6A38;">
									<a href="#/profile" >
										<div class = "main-TileImg"><img class = "main-Icon" src="images/icon-profile.png"></div>
										<div class = "main-TileLabel">My Profile</div>
									</a>
								</div>
							</td>
							<td  width = "50%">
								<div class = "main-TableCell" style = "background-color : #216ABE;">
									<a href="#/news" >
										<div class = "main-TileImg"><img class = "main-Icon" src="images/icon-news.png"></div>
										<div class = "main-TileLabel">Notice &amp; News</div>
									</a>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr align = "center" width = "100%" height = "33%">
				<td width = "50%">
					<table width = "100%" height = "100%">
						<tr align = "center" width = "100%" height = "50%">
							<td>
								<div class = "main-TableCell" style = "background-color : #706D4A;">
									<a href="#/feedback" >
										<div class = "main-TileImg"><img class = "main-SmallIcon" src="images/icon-feedback.png"></div>
										<div class = "main-TileLabel">Feedback</div>
									</a>
								</div>
							</td>
						</tr>
						<tr align = "center" width = "100%" height = "50%">
							<td>
								<div class = "main-TableCell" style = "background-color : #793EDE;">
									<a href="#/contacts" >
										<div class = "main-TileImg"><img class = "main-SmallIcon" src="images/icon-contacts.png"></div>
										<div class = "main-TileLabel">Useful Contacts</div>
									</a>
								</div>
							</td>
						</tr>
					</table>
				</td>
				<td width = "50%">
					<table width = "100%" height = "100%">
						<tr align = "center" width = "100%" height = "50%">
							<td>
								<div class = "main-TableCell" style = "background-color : #21997D;">
									<a href="#/ads">
										<div class = "main-TileImg"><img class = "main-SmallIcon" src="images/icon-ads.png"></div>
										<div class = "main-TileLabel">Classified Ads</div>
									</a>
								</div>
							</td>
						</tr>
						<tr align = "center" width = "100%" height = "50%">
							<td>
								<table height = "100%" width = "100%">
									<tr align = "center" height = "100%" width = "100%">
										<td width = "50%">
											<div class = "main-TableCell" style = "background-color : #999;">
												<a href="#/feedback" >
													<div class = "main-TileImg"><img class = "main-SmallIcon" src="images/icon-feedback.png"></div>
													<div class = "main-TileLabel">Visit</div>
												</a>
											</div>
										</td>
										<td width = "50%">
											<div class = "main-TableCell" style = "background-color : #28A010;">
												<a href="#/help" >
													<div class = "main-TileImg"><img class = "main-SmallIcon" src="images/icon-help.png"></div>
													<div class = "main-TileLabel">Help</div>
												</a>
											</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<!-- <table width = "100%">
			
			<tr align = "center" width = "100%" height = "33%">
				<td>
					<div class = "main-TableCell" style = "background-color : #21997D;">
						<a href="#/ads">
							<div class = "main-TileImg"><img class = "main-Icon" src="images/icon-ads.png"></div>
							<div class = "main-TileLabel">Classified Ads</div>
						</a>
					</div>
				</td>
				<td>
					<div class = "main-TableCell" style = "background-color : #793EDE;">
						<a href="#/contacts" >
							<div class = "main-TileImg"><img class = "main-Icon" src="images/icon-contacts.png"></div>
							<div class = "main-TileLabel">Useful Contacts</div>
						</a>
					</div>
				</td>
				<td>
					<div class = "main-TableCell" style = "background-color : #2D2D2D;">
						<a href="#/facility" >
							<div class = "main-TileImg"><img class = "main-Icon" src="images/icon-facility.png"></div>
							<div class = "main-TileLabel">Facility Booking</div>
						</a>
					</div>
				</td>
			</tr>
			
			<tr align = "center" width = "100%" height = "33%">
				<td>
					<div class = "main-TableCell" style = "background-color : #706D4A;">
						<a href="#/feedback" >
							<div class = "main-TileImg"><img class = "main-Icon" src="images/icon-feedback.png"></div>
							<div class = "main-TileLabel">Feedback</div>
						</a>
					</div>
				</td>
				<td>
					<div class = "main-TableCell" style = "background-color : #28A010;">
						<a href="#/help" >
							<div class = "main-TileImg"><img class = "main-Icon" src="images/icon-help.png"></div>
							<div class = "main-TileLabel">Help</div>
						</a>
					</div>
				</td>
				<td>
					<div class = "main-TableCell" style = "background-color : #C63A3A;">
						<a href="#/lostfound" >
							<div class = "main-TileImg"><img class = "main-Icon" src="images/icon-lostfound.png"></div>
							<div class = "main-TileLabel">Lost &amp; Found</div>
						</a>
					</div>
				</td>
			</tr>

			<tr align = "center" width = "100%" height = "33%">
				<td>
					<div class = "main-TableCell" style = "background-color : #216ABE;">
						<a href="#/news" >
							<div class = "main-TileImg"><img class = "main-Icon" src="images/icon-news.png"></div>
							<div class = "main-TileLabel">Notice &amp; News</div>
						</a>
					</div>
				</td>
				<td>
					<div class = "main-TableCell" style = "background-color : #DE6A38;">
						<a href="#/profile" >
							<div class = "main-TileImg"><img class = "main-Icon" src="images/icon-profile.png"></div>
							<div class = "main-TileLabel">My Profile</div>
						</a>
					</div>
				</td>
				<td>
					<div class = "main-TableCell" style = "background-color : #6F8EA3;">
						<a href="#/request" >
							<div class = "main-TileImg"><img class = "main-Icon" src="images/icon-request.png"></div>
							<div class = "main-TileLabel">Service Request</div>
						</a>
					</div>
				</td>
			</tr>
		</table> -->

		<!-- 
		
		Dynamic Display

		<table cellpadding="20" width = "100%">
			<tr align = "center" width = "100%" ng-repeat= "iconRow in mainPageIcons">
				<td ng-repeat= "iconCol in iconRow">
					<div class = "main-TableCell">
						<a href="#/{{iconCol.view}}" >
							<div class = "main-TileImg">
								<img class = "main-Icon" src="images/{{iconCol.icon}}.png">
							</div>
							<div class = "main-TileLabel">
								{{iconCol.label}}
							</div>
						</a>
					</div>
				</td>
			</tr>
		</table>

		 -->

	</div>

</div>